
.p{
    padding: 0;
    margin: 0;
}
.showBorder{
    border: solid 2px black;
}

.borderRight{
    border-right: solid 3px black;
}

.centerBlock{
    display: flex;
    justify-content:center;
    align-items:center;
}